[submodule "data"]
	path = data
	url = git@github.com:mushuanli/anki-data.git
[submodule "tookit/anki_helper"]
	path = tookit/anki_helper
	url = git@github.com:mushuanli/anki-helper.git
[submodule "tookit/cc-proxy"]
	path = tookit/cc-proxy
	url = git@github.com:mushuanli/cc-proxy.git
[submodule "tools/fs-agent"]
	path = tools/fs-agent
	url = git@github.com:mushuanli/fs-agent.git
[submodule "packages/vfs-core"]
	path = packages/vfs-core
	url = git@github.com:mushuanli/vfs-core.git
	branch = main
[submodule "packages/vfs-ui"]
	path = packages/vfs-ui
	url = git@github.com:mushuanli/vfs-ui.git
	branch = main

[submodule "packages/vfsdriver-indexeddb"]
	path = packages/vfsdriver-indexeddb
	url = git@github.com:mushuanli/vfsdriver-indexeddb.git
	branch = main
