[submodule "data"]
	path = data
	url = git@github.com:mushuanli/anki-data.git
[submodule "tookit/anki_helper"]
	path = tookit/anki_helper
	url = git@github.com:mushuanli/anki-helper.git
[submodule "tookit/cc-proxy"]
	path = tookit/cc-proxy
	url = git@github.com:mushuanli/cc-proxy.git
[submodule "tools/pi-agent"]
	path = tools/pi-agent
	url = git@github.com:mushuanli/pi-agent.git
[submodule "packages/piagent-driver"]
	path = packages/piagent-driver
	url = https://github.com/mushuanli/piagent-driver.git
